@import "tailwindcss";

:root {
  --primary: #7877C6;
  --primary-light: rgba(120, 119, 198, 0.08);
  --primary-hover: rgba(120, 119, 198, 0.9);
  --primary-gradient-start: rgba(120, 119, 198, 0.3);
  --border-light: rgba(17, 17, 17, 0.15);
}

body {
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Satoshi', sans-serif;
  overflow-x: hidden;

}

/* Chrome, Safari, and newer versions of Edge (Blink engine) */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

/* Firefox and IE/Legacy Edge */
html,
body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

@theme {
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-primary-hover: var(--primary-hover);
  --color-primary-gradient-start: var(--primary-gradient-start);
  --color-border-light: var(--border-light);
}